[Desktop Entry]
Name=Find Billy!
Name[fr]=Trouvez Billy !
Name[de]=Finde Billy!
GenericName=Game
GenericName[de]=Spiel
GenericName[fr]=Jeu
Exec=godot-runner
Type=Application
Icon=page.codeberg.papojari.Find_Billy
Terminal=false
Categories=Game;KidsGame;2DGraphics;RasterGraphics;